@model IEnumerable<ISU_By_DBugSolutions.Models.Doctor>

@{
    ViewData["Title"] = "Doctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Pager pager = new Pager();
    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    int intSno = 0;

}

<h1>Doctor - List</h1>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert"> <strong>Success!</strong> Doctor Successfully added.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
}
<p class="h4">
    <a asp-action="Create" class="text-secondary"><i class="bx bxs-plus-square h1 shake"></i><span class="badge badge-secondary h1 bg-anim">Add New</span></a>
</p>
<hr />
<div class="col-4 p-0 justify-content-end">
    <form asp-controller="Doctor" asp-action="Index" class="form-inline">
        <input class="form-control mr-sm-2" type="text" name="SearchText" placeholder="Search..." />
        <button class="btn btn-submit my-2 my-sm-0" type="submit" value="Search">
            Search
        </button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            intSno = intSno + 1;
            <tr>
           

                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DoctorID" class="text-primary h2"><i class='bx bxs-edit'></i></a>
                    <a asp-action="Details" asp-route-id="@item.DoctorID" class="text-secondary h2"><i class='bx bx-list-ul'></i></a>
                    <a asp-action="Delete" asp-route-id="@item.DoctorID" class="text-danger h2"><i class='bx bx-trash'></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>
@{Html.BeginForm("CreateDocument", "Doctor", FormMethod.Get);
    {
        <div>
            <button type="submit" value="Create Document" class="btn-video-play"> <i class='bx bxs-printer'></i>&nbsp;Print</button>

        </div>
    }
    Html.EndForm();
}
<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">

            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Doctor" asp-action="Index" asp-route-pg="1">First</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="Doctor" asp-action="Index" asp-route-pg="@(pager.CurrentPage-1)">Previous</a>
                </li>
            }



            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Doctor" asp-action="Index" asp-route-pg="@pge">@pge</a>
                </li>
            }

            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Doctor" asp-action="Index" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="Doctor" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>
